{% extends 'shoppingcart/base.html' %}

{% load i18n %}
{% load humanize %}

{% block details %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "Time Requested" %}</th>
                    <th>{% translate "Requester" %}</th>
                    <th>{% translate "Janice Link" %}</th>
                    <th>{% translate "Shopper" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ table }}
            </tbody>
        </table>
    </div>
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">{% translate "Headline" %}</div>
        </div>

        <div class="card-body">
            {{ text }}
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
